body {     
  --corBackground:rgba(0, 166, 232, 0.1); 
  --opacidadeLetras: 0;  
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(0, 168, 232, 0.7), rgba(0, 23, 31, 0.9) ), url("images/drum-bg5.png");    
  background-position: bottom 0 right 0;     
  padding: 0;
  margin: 0;
  text-align: center; 
  user-select: none; 
}

h1 {
  color: #cde7f0f8;
  font-family: 'Kaushan Script', cursive;    
  font-size: 10vh;
  font-weight: 100; 
  margin: 2.5vh 0;
  padding: 0;
  text-shadow: 0.2rem 0 #00a6e8d3;
}

footer {
  color: #DBEDF3; 
  font-family: 'Kalam', cursive;
  font-size: 3vh; 
  padding: 1vh 0;
}
 
.main {   
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 90vh;
} 

.bateria {
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 70vh; 
}

.drumkit {   
  border: 0.75rem outset #007EA7;    
  box-sizing: border-box; 
  height: 100%;
} 

.drum {  
  background-color: transparent;
  border: none; 
  color: #007EA7; 
  font-size: calc(12px + 1.4vw);  
  font-family: 'Roboto', sans-serif;
  font-family: 'Cantarell', sans-serif;
  font-family: 'Times New Roman', sans-serif;
  font-family: 'Roboto', sans-serif;
  /*font-style: italic;*/
  font-weight: 900;  
  text-shadow: 0.1875rem 0 #DBEDF3;   
} 

.menu {
  position: absolute;  
  border: none; 
  left: 92%;
  top: 6%;
  width: 3.5%; 
  height: 3.5%;
  /*width: 3.5%; 
  height: 3.5%;*/
}

.menu:hover {
  cursor: pointer;
}

.q {     
  opacity: var(--opacidadeLetras);  
  position: absolute;  
  left: 26%;
  top: 27%; 
}

.snare {   
  background-color: var(--corBackground); 
  border-radius: 100%;  
  height: 5%;
  left: 20%;
  padding: 0 9% 0.1% 8%;
  position: absolute;
  opacity: 0; 
  top: 36.5%;  
  transform: rotate(2deg); 
}

.w {     
  opacity: var(--opacidadeLetras);  
  position: absolute;
  left: 37%;  
  top: 10%;
}

.tom1 {  
  background-color: var(--corBackground);
  border-radius: 100%; 
  height: 6%;
  left: 31%;
  opacity: 0; 
  padding: 0 6% 0 8%; 
  position: absolute;
  top: 19%;  
  transform: rotate(3deg);  
}

.e {   
  opacity: var(--opacidadeLetras);  
  position: absolute;
  left: 54%;
  top: 10%; 
}

.tom2 {  
  background-color: var(--corBackground);
  border-radius: 100%;  
  height: 8%;
  left: 48%;
  opacity: 0; 
  padding: 0 6% 0 8.5%;
  position: absolute;
  top: 18%;  
  transform: rotate(-3deg);  
}

.r {   
  opacity: var(--opacidadeLetras);  
  position: absolute;
  left: 67%;
  top: 30%; 
}

.surdo {    
  background-color: var(--corBackground);  
  border-radius: 100%;  
  height: 4.5%;
  left: 58.5%;
  opacity: 0; 
  padding: 0 9% 0 10%; 
  position: absolute;
  top: 40%;   
}

.j {   
  opacity: var(--opacidadeLetras);  
  position: absolute;
  left: 7%;
  top: 33%;
}

.hihat {  
  background-color: var(--corBackground);  
  border-radius: 100%;  
  height: 4%;
  left: 6%;  
  opacity: 0;
  padding: 0 8% 0 8%;
  position: absolute;
  top: 29.5%;  
}

.k {   
  opacity: var(--opacidadeLetras);  
  position: absolute;
  left: 14%;
  top: 7%;
}

.crash {  
  background-color: var(--corBackground);  
  border-radius: 100%;  
  height: 5%;
  left: 13%;
  opacity: 0;
  padding: 0 8.5% 0 10%;
  position: absolute;
  top: 4.5%;  
  transform: rotate(8.5deg); 
}

.l {
  opacity: var(--opacidadeLetras);   
  position: absolute;  
  left: 83%;
  top: 7%;
}

.ride {    
  background-color: var(--corBackground);
  border-radius: 100%;  
  height: 8%;
  left: 65.5%;
  opacity: 0;
  padding: 0 12% 0 11.5%;
  position: absolute;
  top: 15%; 
}

.s {   
  opacity: var(--opacidadeLetras);  
  position: absolute;
  padding: 3% 8% 14%;
  left: 38%;
  top: 45%;
}


.kick {  
  background-color: var(--corBackground);  
  border-radius: 100%;  
  height: 35%;
  left: 34.5%;
  padding: 0 12% 0 12.5%;
  position: absolute;
  opacity: 0;
  top: 45%;  
}
  

.pressionado { 
  color: #00A8E8; 
}